body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
}

main {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.producto-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-bottom: 15px;
}

.producto-card img {
  width: 100%;
  min-height: 200px;
  max-height: 250px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  aspect-ratio: 16/9;
}

.producto-card h3 {
  margin: 15px 0 10px;
  color: #333;
}

.producto-card .categoria {
  display: inline-block;
  background-color: #ecf0f1;
  color: #7f8c8d;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  margin-bottom: 10px;
}

.producto-card .precio {
  font-size: 18px;
  font-weight: bold;
  color: #27ae60;
}

.container-product {
  display: flex;
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
  align-items: center;
  gap: 16px;
  padding: 6% 3%;
  margin: 0 auto;
}

.container-product a {
  display: inline-flex;
  margin-top: 30px;
  text-align: center;
  max-width: 80px;
}

/* carrito de compras */

#cartContainerNavBar {
  display: flex;
  gap: 20px;
  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    & span {
      width: 20px;
      height: 20px;
      position: absolute;
      top: -5px;
      left: 70%;
      background-color: #ccc6c6;
      font-weight: bold;
      color: #333;
      border-radius: 100%;
    }
  }
}

/* Estilos para el spinner mientras carga */

.spinner-loading {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: none;
}

.loader {
  height: 420px;
  border-radius: 12px;

  background: linear-gradient(90deg, #e3e3e3 0%, #f2f2f2 50%, #e3e3e3 100%);

  background-size: 200% 100%;
  animation: shimmer 1.4s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
